*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
header{
    background-color: rgb(217, 196, 255);
}
.header{
    display: inline-block;
    height: 4rem;
}
#logo{
    width: auto;
    height: 3rem;
    position: absolute;
}
.menu-nav{
    position: absolute;
    right: 0;
    margin-top: 0.8rem;
}
.menu-nav a{
    text-decoration: none;
    font-size: 2rem;
    margin: 0.5rem 1.5rem;
    color: black;
}
.blogpost{
    background-color: wheat;
    width: 90%;
    height: 5rem;
    margin: 1rem;
}
.main-1{
    width: 30vw;
    height: 90vh;
    background-color: aquamarine;
    position: absolute;
}
.main-2{
    width: 70vw;
    height: 90vh;
    position: absolute;
    background-color: darkgray;
    right: 0;
}
.main-2 p {
    font-size: 1.5rem;
    margin: 1rem;
    text-align: justify;
}
footer{
    background-color: chocolate;
    height: 3.5rem;
    margin-top: 90vh;
}
.name{
    font-size: 1.5rem;
    margin: 1rem;
    position: absolute;
    display: inline-block;
}
.social-network{
    right: 0;
    position: absolute;
    margin-top: 1rem;
}
.social-network a{
    text-decoration: none;
    color: black;
    margin: 0.5rem 2rem;
    font-size: 1.5rem;
}
.fab{
    font-size: 2rem;
}