.main-nav {
    margin-top: 10px;
    list-style: none;
    padding-left: 0px;
    background-color: #13a4a4;
}

.main-nav__item {
    display: inline-block;
}

.main-nav__item a {
    color: white;
    padding: 5px;
    border-radius: 4px;
    text-decoration: none;
    /* background-color: coral; */
}

.main-nav__item a:hover {
    color: black;
}

.main-nav__item a:active {
    color: green;
}

.main-nav__item a::after {
    content: " | ";
}